#max-page-wrapper .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
#max-page-wrapper {
    padding: 0;
}

.navbar-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.5)!important;
}

.navbar {
    background-color: rgba(255, 255, 255, 1);
    padding: 0;
}
.navbar .container-fluid {
    padding: 0;
}
.navbar .navbar-nav {
    background-color: rgba(0, 0, 0, 0.0);
}

.navbar .navbar-nav .nav-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    line-height: 3rem;
    font-size: .975rem;
    border-bottom-color: #00bcd4;
    text-decoration-color: #00bcd4;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    transition-property: color;
    transition-duration: .2s;
    position: relative;
}

.navbar .navbar-nav .nav-link:hover {
    color: #00bcd4;
    /*border-bottom: 1px solid #ff6f00;*/
}

.navbar .navbar-nav .nav-link:before {
    background: #00bcd4;
    content: '';
    display: block;
    height: .0625rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    transform: translate(-50%, 0);
    transition: all 110ms ease-in-out;
}

.navbar .navbar-nav .nav-link:hover:before {
    background-color: #00bcd4;
    width: 100%;
}

.navbar-brand.custom-logo-link {
    background-color: rgba(0, 0, 0, 0.0);
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 3rem;
    font-size: .975rem;
}

.navbar-brand.custom-logo-link img {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    max-height: 4rem;
    width: auto;
}

.indiegame-banner {
    height: 20rem;
    position: relative;
}

@media (min-width: 992px) {
    .indiegame-banner {
        height: 50rem;
    }
}

.indiegame-text {
    padding-top: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    background-color: rgba( 0, 0, 0, 0.75 );
}

.indiegame-title,.indiegame-lead {
    padding-left: 2rem;
    padding-right: 4rem;
}

.container {
    color: #444;
}

.navbar-toggler {
    margin-right: 1.5rem;
    border: none;
    outline: none;
}

/* Footer */
#wrapper-footer-full,#wrapper-footer {
    background-color: rgba( 0, 0, 0, 0.9 );
}

.widget-title {
    font-size: 1.1rem;
    font-weight: normal;
    color: rgba( 255, 255, 255, 0.8 );
    border-bottom: 1px solid rgba( 255, 255, 255, 0.1 );
}

.footer-widget ul {
    list-style-type: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer-widget ul li a {
    color: rgba( 255, 255, 255, 0.2 );
    transition-duration: .2s;
    transition-property: color;
    text-decoration: none;
    font-size: 0.8rem;
}
.footer-widget ul li a:hover {
    color: #00bcd4;
}

.site-info {
    font-size: 0.8rem;
}

.wp-block-gallery li.blocks-gallery-item {
    padding: 0;
    margin: 0;
    width: calc( 100% / 2 );
    overflow: hidden;
}

.wp-block-gallery li.blocks-gallery-item img {
    transition-duration: .2s;
    transition-property: transform, filter, -webkit-filter;
    -webkit-filter: grayscale(0.75);
    filter: grayscale(0.75);
}

.wp-block-gallery li.blocks-gallery-item:hover img {
    transform: scale(1.2);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}



@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');

html,body,p {
  font-family: 'Fira Sans Condensed', sans-serif;
}
.navbar-brand {
    font-family: 'Alegreya Sans', sans-serif;
    text-transform: uppercase;
    margin-left: 1rem;
}
@media (min-width: 992px) {
    .navbar-brand {
        margin-left: 2rem;
    }
}

/*img.wp-post-image
img.attachment-thumbnail
img.attachment-medium
img.attachment-large
img.attachment-full*/

// Carousel Styling
.carousel-item {
    height: calc( 100vh );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-title-container {
    border: 0.2rem solid rgba( 255, 255, 255, 1.0 );
    padding: 0.6rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 10rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.carousel-title-container .carousel-title {
    background-color: rgba( 255, 255, 255, 0.0 );
    padding: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.carousel-control-next-icon,.carousel-control-prev-icon {
    bottom: 3rem;
}

@media (max-width: 577px) {
    .carousel-title-container {
        border: 0.2rem solid rgba( 255, 255, 255, 1.0 );
        padding: 0.2rem;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        bottom: 2rem;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }

    .carousel-title-container .carousel-title {
        background-color: rgba( 255, 255, 255, 0.0 );
        padding: 4rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 1.3rem;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }
}


body {
    padding-top: 5rem;
}
body.admin-bar {
    padding-top: 6.5rem;
}

body.home {
    padding-top: 0;
}

body.home.admin-bar {
    padding-top: 1.5rem;
}

body.single-project,body.single-project #single-wrapper {
    padding-top: 0rem;
}


body.admin-bar .navbar.fixed-top {
    top: 1.5rem;
}


.project-item {
    min-height: 25rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.project-item .project-description {
    background-color: rgba(0, 0, 0, 0.6);
    //background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) );
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
    padding-top: 4rem;
    margin: 0;
    text-align: center;
    transition-duration: .5s;
    transition-property: background-color;
}

.project-item .project-description:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


.project-item .project-title {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 4rem;
    color: #fff;
    min-height: 12rem;
	line-height: normal;
}

.project-item .project-excerpt {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 0.85rem;
    color: #fff;
}


.fade-on-scroll {
	position: relative;
	top: 5rem;
	opacity: 0;
}



.project-header {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.project-header .project-header-overlay {
    background-color: rgba( 0, 0, 0, 0.4 );
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 2rem;
}

.project-header .project-header-overlay .overlay-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    display: inline-block;
    text-align: center;
}

.project-header .project-header-overlay h1 {
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
}


.project-header .project-header-overlay .entry-excerpt {
    display: inline-block;
    text-align: center;
}

blockquote {
    background-color: #ddd;
    border-radius: 15px;
}

blockquote p {
    padding: 2rem;
    padding-bottom: 0;
}
blockquote cite {
    padding: 2rem;
    padding-top: 0;
    display: inline-block;
}